/* Google Fonts Inter*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* Taiwind CSS */
@import "tailwindcss";
/* Daisy UI */
@plugin "daisyui";

@theme {
  --font-inter: "Inter", sans-serif;
}

.banner-slide-items {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
}

.banner-image {
  position: relative;
}
.banner-image::before {
  content: "";
  position: absolute;
  bottom: 30px;
  right: 10px;
  max-width: 550px;
  width: 100%;
  max-height: 200px;
  height: 100%;
  background-color: #e1e3e5;
  border-radius: 100%;
  z-index: -1;
}

/* Buttons Slick Arrows */
.slick-prev {
  left: -55px !important;
  opacity: 0.75 !important;
}
.slick-prev:hover:before {
  opacity: 1 !important;
}
.slick-next {
  right: -45px !important;
  opacity: 0.75 !important;
}
.slick-next:hover:before {
  opacity: 1 !important;
}

/* Buttons Slick Arrows Banner*/
.slider-banner-container > .slick-slider > .slick-dots {
  position: absolute;
  bottom: 45px !important;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slider-banner-container > .slick-slider > .slick-prev:before {
  font-family: "slick";
  font-size: 35px !important;
  line-height: 1;
  color: #029fae !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slider-banner-container > .slick-slider > .slick-next:before {
  font-family: "slick";
  font-size: 35px !important;
  line-height: 1;
  color: #029fae !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slider-banner-container > .slick-slider > .slick-dots li button:before {
  font-family: "slick";
  font-size: 15px !important;
  line-height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slider-banner-container > .slick-slider > .slick-dots li button:before {
  font-family: "slick";
  font-size: 15px !important;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: #636270 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slider-banner-container
  > .slick-slider
  > .slick-dots
  > li.slick-active
  button:before {
  opacity: 0.5 !important;
  color: #029fae !important;
}

/* Delivery Component */
.delivery-component {
  margin-top: -3.5rem;
  position: relative;
  z-index: 5;
}

/* Buttons Slick Arrows Feature */
.slider-feature-container > .slick-slider > .slick-dots {
  position: absolute;
  bottom: 45px !important;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slider-feature-container > .slick-slider > .slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 35px !important;
  line-height: 1;
  color: #029fae !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Button Slick Arrows Categories */
.slider-categories-container > .slick-slider > .slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 35px !important;
  line-height: 1;
  color: #029fae !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Button Slick Arrows Clients */
.slider-clients-container > .slick-slider > .slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 35px !important;
  line-height: 1;
  color: #029fae !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.client-say{
  position: relative;
}
.client-say::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  width: 3px;
  height: 100%;
  background-color: #007580;
  opacity: 0.75;
}
.client-slider .slick-slide > div {
  padding-left: 10px;
  padding-right: 10px;
}
